/* ===== Light ===== */
.light {
    background-color: #FFFFFF;
}
.light * {
    color: #333333; 
}


/* ===== Dark ===== */
.dark { 
    background-color: #333333; 
}
.dark * { 
    color: #FFFFFF; 
}






/*----------------------------------------------------------------------*/
/* ===== Ocean ===== */
.ocean {
    background-image: url("/img/ocean_bg01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;      /* 화면 높이를 꽉 채우기 */
    display: flex;          /* 자식들을 정렬할 수 있게 함 */
    flex-direction: column; /* 위에서 아래로 쌓기 */
}

.hd {
    width : 100%;
    height : 100%;
    background-color: rgb(231, 255, 244);
    border: 0;
}

.members{
    width : 100%;
    min-height : 52.5%;
    flex: 1;
    background-color: rgba(219, 246, 243, 0.7);
    border: 0;
}

.team_balance{
    width : 100%;
    height : 35%;
    background-color: rgba(219, 246, 243, 0.7);
    border: 0;
}


/*CUD 버튼_공통 (배치, 정렬)*/
.manage-buttons {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

/*<button> 공통 디자인 속성*/
.manage-buttons button { 
    color: #38223e !important;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

/*버튼 개별*/
.header-btn-C {
    background-color:#89eccd;
}
/*수정 버튼*/
.header-btn-U {
    background-color:#5dd1ad;
}
/*삭제 버튼*/
.header-btn-D {
    background-color: #41efa9;
}
/*------------------------------------*/

/* 배정 버튼 공통 (배치, 정렬)*/
.button-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* 조건부 버튼 */
button.btn-Control {
    background-color: #92eed1;
    border: 0.5px solid #b3ffe7;
}

/* 랜덤 버튼 */
button.btn-Random {
    background-color: #92eed1;
    border: 0.5px solid #b3ffe7;
}

/*------------------------------------*/


/*footer*/
.ft {
    width : 100%;
    height : 100px;
    background-color:  rgb(231, 255, 244) !important;
    opacity: 1 !important; /* 투명도를 100%로 고정 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}


.ocean * {
    color: #38223e;
}

