/* 유틸리티 클래스==================================================== */

/* display 관련*/

/* display flex */

.flex {
  display: flex;
}

/* 중앙 정렬 */

.align-center {
  align-items: center;
}

/* gap 5px */
.flex-gap-5 {
  gap: 5px;
}

/* gap 10px */
.flex-gap-10 {
  gap: 10px;
}

/* gap 20px */
.flex-gap-20 {
  gap: 20px;
}

/* text bold */
.text-bold {
  font-weight: bold;
}

/* margin */

/* 왼쪽 margin */
.margin-left-10 {
  margin-left: 10px;
}

.margin-left-5 {
  margin-left: 5px;
}

/* position */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* position left */
.left0 {
  left: 0;
}

/* potision right */
.right30 {
  right: 30px;
}

/* position top */
.top0 {
  top: 0;
}

/* 가로(width) */

.width100px {
  width: 100px;
}

/* 세로(height) */

.height40px {
  height: 40px;
}

/* z-index */

.z-index-0 {
  z-index: 0;
}

.z-index-5 {
  z-index: 5;
}

/* opacity */

.opacity-100 {
  opacity: 100%;
}

.opacity-0 {
  opacity: 0%;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* 둥글기 */

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-100per {
  border-radius: 100%;
}

/* transition */

.transition-all-0-3 {
  transition: all 0.3s;
}

/* 배경색 */

/* 글자색 */

.text-color-fff {
  color: #fff;
}

/* transform */

.scale-up-1-05 {
  transform: scale(1.05);
}
